cel2.YOURDOMAIN {
    reverse_proxy cel2-op-geth:8545
}

ws.cel2.YOURDOMAIN {
    @websockets {
        header Connection *Upgrade*
        header Upgrade    websocket
    }

    reverse_proxy @websockets cel2-op-geth:8546
}
